---
import { Image } from "astro:assets";
---

<div class="flex w-auto flex-col justify-center px-4">
  <Image
    src={"/no-content.svg"}
    alt={"no content"}
    width={256}
    height={256}
    class="mx-auto"
  />
  <h1 class="text-notion-tag-gray text-center text-lg">Coming Soon</h1>
</div>
