---
import RootLayout from "~/layouts/RootLayout.astro";
import { Button } from "~/components/ui/button";
---

<RootLayout>
  <h1 class="text-notion-tag-green">Home</h1>
  <Button>Hello</Button>
</RootLayout>
