---
import RootLayout from "~/layouts/root-layout.astro";
import NoContent from "~/components/layouts/no-content.astro";

import { Image } from "astro:assets";
import { getWorks } from "~/lib/notion";
import { Card, CardContent, CardFooter } from "~/components/ui/card";

const works = await getWorks();
---

<RootLayout title="Works">
  {
    works.length === 0 ? (
      <NoContent />
    ) : (
      <ul class="grid grid-cols-2 gap-4 px-4 md:grid-cols-3">
        {works.map((work) => (
          <Card className="bg-zinc-900/50 border-zinc-600 aspect-square">
            <a href={`/article/${work.id}`}>
              <CardContent className="grid aspect-[4/3] place-items-center text-zinc-400 hover:text-zinc-100 bg-zinc-950 rounded-t-lg">
                <p class="mt-4 text-sm md:text-base">{work.title}</p>
              </CardContent>
              <CardFooter className="flex items-center justify-center space-x-2 text-sm text-zinc-500 p-0 mt-3 sm:mt-4">
                <p>編纂員: {work?.name}</p>
                <Image
                  src={work?.avatar!}
                  width={20}
                  height={20}
                  alt={work?.name}
                  class="rounded-full"
                />
              </CardFooter>
            </a>
          </Card>
        ))}
      </ul>
    )
  }
</RootLayout>
