---
// const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="bg-[#191919] font-notion">
    <nav class="text-notion-tag-gray">
      <a href="/">Home</a>
      <a href="/article">Article</a>
      <a href="/vlog">Vlog</a>
      <a href="/contact">Contact</a>
    </nav>
    <main>
      <slot /> 
    </main>
  </body>
</html>