---
import "~/styles/globals.css";

import BottomNav from "~/components/layouts/bottom-nav.astro";

const socialImageURL = new URL("/og.png", Astro.url);
const { title } = Astro.props;
---

<html lang="ja" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="twitter:card" content="summary" />
    <meta property="og:image" content={socialImageURL} />
    <title>{title}</title>
  </head>

  <body
    class="text-notion-text relative mx-auto grid min-h-[100dvh] w-full max-w-screen-md grid-rows-layout bg-[#191919] py-4 font-notion text-sm text-zinc-200 sm:text-base"
  >
    <header class="grid place-items-center text-lg font-bold">Medium</header>
    <main class="my-10">
      <slot />
    </main>
    <BottomNav />
  </body>
</html>
